# Eddy-NG for the SV08 Max stock toolhead LDC1612 on extra_mcu I2C2.
# Install https://github.com/vvuk/eddy-ng before loading this file.

[force_move]
enable_force_move: true

[probe_eddy_ng eddy]
sensor_type: ldc1612
i2c_mcu: extra_mcu
i2c_bus: i2c2
x_offset: -19.8
y_offset: -0.75
home_trigger_height: 2.0
calibration_z_max: 15.0
probe_speed: 5.0
lift_speed: 10.0
move_speed: 100.0
tap_start_z: 3.0
tap_target_z: -0.40
tap_speed: 3.0
tap_samples: 4
tap_max_samples: 10
tap_samples_stddev: 0.025
tap_mode: butter
tap_threshold: 250

[bed_mesh]
speed: 400
horizontal_move_z: 2.0
algorithm: bicubic
mesh_min: 13,15
mesh_max: 476,490
probe_count: 60,60
fade_start: 0
fade_end: 10
scan_overshoot: 4

[quad_gantry_level]
gantry_corners:
    -70,-40
    550,600
points:
    50,30
    50,470
    490,470
    490,30
speed: 400
horizontal_move_z: 2.0
retries: 15
max_adjust: 20
retry_tolerance: 0.0075

[homing_override]
axes: xyz
set_position_z: 0
gcode:
    {% if 'X' in params and 'Y' not in params and 'Z' not in params %}
        G90
        G0 Z5 F300
        M9928 X
    {% elif 'Y' in params and 'X' not in params and 'Z' not in params %}
        G90
        G0 Z5 F300
        M9928 Y
    {% elif 'X' in params and 'Y' in params and 'Z' not in params %}
        G90
        G0 Z5 F300
        M9928 X
        M9928 Y
    {% elif 'Z' in params and 'X' not in params and 'Y' not in params %}
        G90
        G0 X271 Y251 F9000
        M9928 Z
        G0 Z2 F600
        M400
        PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1
        G0 Z10 F600
    {% else %}
        G90
        G0 Z5 F300
        M9928 X
        M9928 Y
        G0 X271 Y251 F9000
        M9928 Z
        G0 Z2 F600
        M400
        PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1
        G0 Z10 F600
    {% endif %}
