# Clean SV08 Max macros for Eddy-NG and runout-only buffer MCU use.

[gcode_macro _GLOBAL]
variable_pause_x: -2.0
variable_pause_y: -0.5
variable_cancel_x: -2.0
variable_cancel_y: 501.0
variable_z_max: 502.0
variable_park_lift: 10.0
variable_retract: 1.0
variable_travel_speed: 150.0
variable_load_temperature: 250
gcode:

[gcode_macro MAINLED_ON]
gcode:
    SET_PIN PIN=main_led VALUE=1

[gcode_macro MAINLED_OFF]
gcode:
    SET_PIN PIN=main_led VALUE=0

[gcode_macro _ALL_FAN_OFF]
gcode:
    SET_FAN_SPEED FAN=fan0 SPEED=0
    SET_FAN_SPEED FAN=fan1 SPEED=0
    SET_FAN_SPEED FAN=fan2 SPEED=0
    SET_FAN_SPEED FAN=fan3 SPEED=0

[gcode_macro _POWER_DOWN_LOADS]
description: Turn off heaters, controllable fans, LED, and steppers
gcode:
    TURN_OFF_HEATERS
    _ALL_FAN_OFF
    SET_PIN PIN=main_led VALUE=0
    M84

[gcode_macro _IDLE_TIMEOUT]
gcode:
    {% if printer.print_stats.state == "paused" %}
        RESPOND TYPE=echo MSG="Printer is paused; idle power-down skipped"
    {% elif printer.print_stats.state != "printing" %}
        _POWER_DOWN_LOADS
    {% endif %}

[gcode_macro CLEAN_NOZZLE]
description: Tested two-stage clean for a washer-raised textured cleaning surface
gcode:
    BED_MESH_CLEAR
    {% if printer.toolhead.homed_axes != "xyz" or printer.gcode_move.position.z < 5 %}
        G28
    {% endif %}
    M109 S200
    G90
    G1 X30 Y195 F9000
    G1 Z-0.30 F600
    G91
    G1 Z3
    G90
    G1 X-7 F2400
    G91
    G1 Z-2.7
    G90
    G1 X-9 Y236
    G1 X-7 Y190
    G1 X-9 Y225
    G1 X-7 Y205
    G1 X-9 Y225
    G1 X-7 Y205
    G1 X-9 Y218
    G1 X-7 Y208
    G1 X-9 Y218
    G1 X-7 Y208
    G1 X-9 Y213
    G91
    G1 Z5
    G90
    M106 S255
    G1 Y260 F9000
    G91
    # Tested only with the cleaning surface raised evenly by four washers.
    G1 Z-5.325
    G90
    G1 Y283 F2400
    G1 Y260
    G1 Y283
    M109 S130
    M106 S0
    G1 Z10

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    {% if printer.toolhead.homed_axes|lower != "xyz" %}
        G28
    {% endif %}
    {% if not printer.quad_gantry_level.applied %}
        QUAD_GANTRY_LEVEL_BASE HORIZONTAL_MOVE_Z=8 RETRY_TOLERANCE=1
    {% endif %}
    QUAD_GANTRY_LEVEL_BASE
    RESTORE_GCODE_STATE NAME=STATE_QGL

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    {% set old_scv = printer.toolhead.square_corner_velocity|float %}
    {% if not printer.quad_gantry_level.applied %}
        QUAD_GANTRY_LEVEL
    {% endif %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1
    BED_MESH_CALIBRATE_BASE ADAPTIVE=1 PGP=0 METHOD=rapid_scan
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={old_scv}

[gcode_macro START_PRINT]
gcode:
    MAINLED_ON
    CLEAR_PAUSE
    SET_GCODE_OFFSET Z=0
    G28
    QUAD_GANTRY_LEVEL
    G28 Z
    CLEAN_NOZZLE
    G90
    G0 X271 Y251 F9000
    PROBE_EDDY_NG_TAP
    BED_MESH_CALIBRATE
    M400

[gcode_macro END_PRINT]
gcode:
    {% set z_max = printer["gcode_macro _GLOBAL"].z_max|float %}
    {% set min_temp = printer.configfile.settings['extruder'].min_extrude_temp|float %}
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        {% if printer.extruder.temperature >= min_temp %}
            G1 E-2 F2700
            G1 E-2 Z0.2 F2400
        {% endif %}
        {% set lift = [10.0, [0.0, z_max - printer.gcode_move.position.z]|max]|min %}
        G1 Z{lift} F3000
        G90
        G1 X-2 Y501 F9000
    {% endif %}
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    BED_MESH_CLEAR
    _POWER_DOWN_LOADS
    M220 S100
    M221 S100
    CLEAR_PAUSE
    RESPOND TYPE=echo MSG="Print finished"

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set x = printer["gcode_macro _GLOBAL"].cancel_x|float %}
    {% set y = printer["gcode_macro _GLOBAL"].cancel_y|float %}
    {% set z_max = printer["gcode_macro _GLOBAL"].z_max|float %}
    {% set retract = printer["gcode_macro _GLOBAL"].retract|float %}
    {% set min_temp = printer.configfile.settings['extruder'].min_extrude_temp|float %}
    CANCEL_PRINT_BASE
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        {% if printer.extruder.temperature >= min_temp %}
            G1 E-{retract} F500
        {% endif %}
        {% set lift = [10.0, [0.0, z_max - printer.gcode_move.position.z]|max]|min %}
        G1 Z{lift} F3000
        G90
        G1 X{x} Y{y} F9000
    {% endif %}
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    BED_MESH_CLEAR
    _POWER_DOWN_LOADS
    CLEAR_PAUSE
    M220 S100
    M221 S100
    RESPOND TYPE=echo MSG="Print cancelled"

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    {% set x = printer["gcode_macro _GLOBAL"].pause_x|float %}
    {% set y = printer["gcode_macro _GLOBAL"].pause_y|float %}
    {% set z_max = printer["gcode_macro _GLOBAL"].z_max|float %}
    {% set retract = printer["gcode_macro _GLOBAL"].retract|float %}
    {% set speed = printer["gcode_macro _GLOBAL"].travel_speed|float * 60 %}
    {% set min_temp = printer.configfile.settings['extruder'].min_extrude_temp|float %}
    PAUSE_BASE
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        {% if printer.extruder.temperature >= min_temp %}
            G1 E-{retract} F300
        {% endif %}
        {% set lift = [5.0, [0.0, z_max - printer.gcode_move.position.z]|max]|min %}
        G1 Z{lift} F3000
        G90
        G1 X{x} Y{y} F{speed}
    {% endif %}
    RESPOND TYPE=echo MSG="Print paused"

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
    {% set retract = printer["gcode_macro _GLOBAL"].retract|float %}
    {% set sensor = printer["filament_switch_sensor filament_sensor"] %}
    {% set min_temp = printer.configfile.settings['extruder'].min_extrude_temp|float %}
    {% if sensor.enabled and not sensor.filament_detected %}
        RESPOND TYPE=error MSG="Insert filament before resuming"
    {% else %}
        {% if printer.extruder.temperature >= min_temp %}
            G91
            G1 E{retract + 2} F900
            G90
        {% endif %}
        RESUME_BASE {rawparams}
    {% endif %}

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set load_temp = printer["gcode_macro _GLOBAL"].load_temperature|int %}
    {% if printer.print_stats.state == "printing" %}
        RESPOND TYPE=error MSG="Do not load filament during a print"
    {% else %}
        M109 S{load_temp}
        G91
        G1 E45 F300
        G1 E30 F150
        G90
    {% endif %}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set load_temp = printer["gcode_macro _GLOBAL"].load_temperature|int %}
    {% if printer.print_stats.state == "printing" %}
        RESPOND TYPE=error MSG="Use M600 for a filament change during printing"
    {% else %}
        M109 S{load_temp}
        G91
        G1 E10 F300
        G1 E-80 F600
        G90
    {% endif %}

[gcode_macro M600]
gcode:
    PAUSE
    RESPOND TYPE=error MSG="Filament change requested"

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set target = params.S|default(0)|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if target != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={target - 1} MAXIMUM={target + 2}
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set target = params.S|default(0)|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if target != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={target - 1} MAXIMUM={target + 2}
    {% endif %}

[gcode_macro M106]
gcode:
    {% set fan = "fan" ~ (params.P|default(0)|int) %}
    {% set speed = params.S|default(255)|float / 255 %}
    {% if fan in ["fan0", "fan1"] %}
        SET_FAN_SPEED FAN=fan0 SPEED={speed}
        SET_FAN_SPEED FAN=fan1 SPEED={speed}
    {% else %}
        SET_FAN_SPEED FAN={fan} SPEED={speed}
    {% endif %}

[gcode_macro M107]
gcode:
    {% set fan = "fan" ~ (params.P|default(0)|int) %}
    {% if fan in ["fan0", "fan1"] %}
        SET_FAN_SPEED FAN=fan0 SPEED=0
        SET_FAN_SPEED FAN=fan1 SPEED=0
    {% else %}
        SET_FAN_SPEED FAN={fan} SPEED=0
    {% endif %}

[gcode_macro G28]
rename_existing: M9928
gcode:
    M9928 {rawparams}
