# Requires https://github.com/andrewmcgr/klipper_tmc_autotune
# SV08 Max motor data only; do not substitute standard SV08 motors.

[autotune_tmc stepper_x]
motor: shengyang-42bygh3025-4m-25d

[autotune_tmc stepper_y]
motor: shengyang-42bygh3025-4m-25d

[motor_constants sv08max-extruder-28byg2008-m-11bq]
resistance: 3.2
inductance: 0.0030
holding_torque: 0.115
max_current: 1.2
steps_per_revolution: 200

[autotune_tmc stepper_z]
motor: shengyang-42bygh2265-a-26dnt

[autotune_tmc stepper_z1]
motor: shengyang-42bygh2265-a-26dnt

[autotune_tmc stepper_z2]
motor: shengyang-42bygh2265-a-26dnt

[autotune_tmc stepper_z3]
motor: shengyang-42bygh2265-a-26dnt

[autotune_tmc extruder]
motor: sv08max-extruder-28byg2008-m-11bq
